.table {
  color: #fff;
}

.table thead th {
  background-color: #343a40;
}

.table tbody tr:hover {
  background-color: #565e64;
}

.table caption {
  color: #fff;
}

.btn-primary {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-warning {
  color: #212529;
}
